<div style="height: 8vh;">
    <ion-tab-bar style="height: 8vh;">
      <ion-tab-button routerLink="/main/search">
        <ion-icon name="search" style="color: #111;"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLink="/main/home">
        <ion-icon name="home" style="color: #111;"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLink="/main/profile">
        <ion-icon name="person" style="color: #111;"></ion-icon>
      </ion-tab-button>


      <ion-tab-button routerLink="/main/notification">
        <ion-icon name="checkbox-outline" style="color: #111;"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
</div>
