.active {
  border: 1.33px solid #000 !important;
}


span {
  background-color: #969FAA !important;
  border-radius: 100%;
  width: 53.33px;
  height: 53.33px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  padding: 13px 0px;
  text-align: center;
}
