<div style="color: #47525E; font-family: Roboto Slab; font-size: 10.33px; font-weight: 400; line-height: 13.33px;">
  <div class="flex-item-center" style="border-bottom: 1px solid gray;">
    <h5 style="text-align: center; width: 100%;">{{user.username}}</h5>
  </div>
  <div *ngIf="user.privilege == 1" class="flex-item-center">
    <div style="width: 60%;">
      <div><h3 style="text-align: center; font-size: 8.67px; line-height: 11px;">{{user.name}}</h3></div>
      <div class="flex-div">
        <div style="border-right: 1px solid black; width: 50%;">
          <div text-center style="font-size: 31.67px; font-weight: 700; line-height: 41px;">{{subs}}</div>
          <div text-center style="font-size: 8.67px; line-height: 11px;">Organizations</div>
        </div>
        <div style="width: 50%;">
          <div text-center style="font-size: 31.67px; font-weight: 700; line-height: 41px;">{{conn}}</div>
          <div text-center style="font-size: 8.67px; line-height: 11px;">Connections</div>
        </div>
      </div>
    </div>
    <div style="width: 40%;" padding>
      <div><img src="{{base_url}}{{user.profile}}" style="border-radius: 100%; padding: 15%;"></div>
      <div style="padding: 8px 16px; border: 1px solid black; color: #47525E; font-family: Ubuntu; font-size: 8.67px;" text-center routerLink="/main/profile/edit"">Edit Profile</div>
    </div>
  </div>
  <div *ngIf="user.privilege == 2" style="padding: 12px 0;">
    <div style="display: flex; align-items: center;">
      <div style="width: 50%; text-align: center; color: #47525E; font-family: Roboto Slab; ">
        <div style="font-size: 9.33px; font-weight: 400; line-height: 12px;">{{user.name}}</div>
        <div style="font-size: 31.67px; font-weight: 700; line-height: 41px; margin-top: 8px;">{{subs}}</div>
        <div style="font-size: 8.67px; font-weight: 400; line-height: 11px; margin-top: 6px;">Subscribers</div>
      </div>
      <div style="width:50%; text-align: center;">
        <img src="{{base_url}}{{user.profile}}" style="border-radius: 100%; padding: 15%;">
      </div>
    </div>
    <div style="color: white; background-color: rgba(82, 9, 113, 0.85); border: 0.67px solid #8492A6; border-radius: 8.33px; width: 210px; padding: 6px 0; text-align: center; margin: 0 auto; margin-top: 8px;" routerLink="/main/profile/edit">Edit Profile</div>
  </div>
  <div style="padding: 16px;"><ion-textarea [(ngModel)]="bio" style="border: 1px solid gray; padding: 4px; color: #47525E; font-family: Ubuntu; font-size: 9px;"></ion-textarea></div>
  <div class="flex-div">
    <div style="width: 50%; border: 0.33px solid #8492A6; padding: 8px; color: #47525E; font-family: Montserrat; font-size: 10px; line-height: 13px;" [ngClass]="{'active': isMode === 0}" text-center (click)="onEvent();">Added Events</div>
    <div style="width: 50%; border: 0.33px solid #8492A6; padding: 8px; color: #47525E; font-family: Montserrat; font-size: 10px; line-height: 13px;" [ngClass]="{'active': isMode === 1}" text-center (click)="onCalendar();">Calendar</div>
  </div>
  <div>
    <div style="display: flex; margin-top: 12px; justify-content: space-between; flex-flow: row wrap; padding: 0 4px; " *ngIf="isMode === 0">
      <div *ngFor="let event of events" style="width: 30%;">
        <div style="text-align: center; border: 1px solid gray;"><label style="font-size: 9px;">{{ event.day }}</label></div>
        <img src="{{imgUrl}}{{event.image}}" style="width: 100%; height: 130px;">
      </div>
    </div>
    <div *ngIf="user.privilege == 2" routerLink="/main/post" style="margin-top: 12px; background-color: #733A8D; border: 1.33px solid #969FAA; color: #FAFDFF; font-family: Montserrat; font-size: 15px; font-weight: 400; line-height: 19.33px; width: 100%; height: 60px; display: flex; align-items: center;">
      <div style="text-align: center; width: 100%;">Upload Flyer</div>
    </div>
  </div>
  <div *ngIf="isMode == 1">
    <div style="font-size: 22px; color: #81a6c5; margin: 8px 24px;">{{viewTitle}}</div>
    <calendar
      [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onTitleChanged)="onViewTitleChanged($event)"
      startHour="6"
      endHour="20"
      step="30"
      startingDayWeek="1">
    </calendar>

</div>
