<div class="flex-item-center" style="border-bottom: 1px solid gray;">
  <img src="assets/images/back.png" style="width: 8%; opacity: .42; margin-left: 4px;" (click)="onMsgList();">
  <h5 style="text-align: center; width: 84%; color: #673ab7;">Direct Messages</h5>
</div>

<ion-searchbar></ion-searchbar>

<div class="flex-item-center" style="border: 1px solid gray;">
  <div style="background-color: #FFC82C; border-radius: 100%; width: 55.33px; height: 72px; width: 72px;"></div>
  <div>
    <div>AlyssaLC01</div>
    <div>Hey, yeah, I can definetely ...</div>
  </div>
</div>

<div class="flex-item-center" style="border: 1px solid gray;">
  <div style="background-color: #FFC82C; border-radius: 100%; width: 55.33px; height: 72px; width: 72px;"></div>
  <div>
    <div>AlyssaLC01</div>
    <div>Hey, yeah, I can definetely ...</div>
  </div>
</div>

<div class="flex-item-center" style="border: 1px solid gray;">
  <div style="background-color: #FFC82C; border-radius: 100%; width: 55.33px; height: 72px; width: 72px;"></div>
  <div>
    <div>AlyssaLC01</div>
    <div>Hey, yeah, I can definetely ...</div>
  </div>
</div>

<div style="height: calc(100vh - 366px)"></div>

<div class="flex-item-center" style="border: 1px solid gray;">
  <div style="width: 90%; text-align: center; color: purple;">Create new message</div>
  <div style="width: 10%;"><img src="assets/images/edit.png"></div>
</div>
