<div padding>
  <div class="text-center">
    <img src="../../../assets/images/logo1.png" style="width: 30%; margin: 10vh auto;">
  </div>
  <div>
    <div text-center><label style="color: #343F4B; font-family: Roboto Slab; font-size: 30px; font-weight: 400; line-height: 39px; width: 184px;">Verify Email</label></div>
    <ion-input style="padding-left: 8px !important; width: 60%; margin: auto; color: #47525E; font-family: Roboto Slab; font-size: 9.67px; font-weight: 400; line-height: 12.33px;" [(ngModel)]="code"></ion-input>
  </div>
  <div style="height: 10vh;"></div>
  <div class="link-item" style="width: 40%; margin: 0 auto; color: #F5F7F8; font-family: Roboto Slab; font-size: 8.67px; font-weight: 400; line-height: 11px;" (click)="onLogin();">Log In</div>
</div>
